/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2016, 8:15:33 PM
    Author     : nadeeth
*/
body {
  background-color: #ddd;
}
.header {
  height: 100px;
  background-color: #888;
  padding: 30px 75px 10px 40px;
}
.header h2 a {
  color: #fff;
}
.header h2:first-child {
  float: left;
}
.header h2:last-child {
  float: right;
}
.movies-list {
  padding: 25px;
}
.player-wrap {
  margin-top: 15px;
}
.player-wrap video {
  width: 100%;
}
